<div id="drawing-wrapper">


    <div id="sketchpad">
        <app-sketchpad #sketchpad>
        </app-sketchpad>
    </div>
    <div id="wrapper">
        <div id="controls">
            <app-sketchpad-colorselection id="color-selection" (lineColorUpdated)="sketchpad.SetLineColor($event)"></app-sketchpad-colorselection>
            <app-sketchpad-controls (lineSizeUpdated)="sketchpad.SetLineSize($event)" (unDo)="sketchpad.UnDo()" (clear)="sketchpad.Clear()">
            </app-sketchpad-controls>
        </div>
        <app-sketchpad-brush-preview [color]='sketchpad.lineColor' [size]='sketchpad.lineWidth' id="sketchpad-brush-preview">
        </app-sketchpad-brush-preview>
        <button (click)="clicked($event)" class="button">Upload Image</button>
    </div>
</div>