$maxMobileWidth: 600px;
@media screen and (max-width:$maxMobileWidth) {
    #sketchpad {
        width: calc(100vw - 40px);
        height: calc(100vw - 40px);
    }
}

@media screen and ( min-width:$maxMobileWidth) {
    #sketchpad {
        width: $maxMobileWidth;
        height: $maxMobileWidth;
    }
}

#sketchpad {
    text-align: center;
    margin: auto
}

#color-selection {
    width: 20%;
}

#drawing-wrapper {
    width: 100%;
}

#wrapper {
    display: flex;
    margin: {
        left: auto;
        right: auto;
        bottom: auto;
        top: 10px;
    }
    text-align: center;
}

#sketchpad-brush-preview {
    height: 0px;
    width: 0px;
}