<div class="">
    <button (click)="clicked($event)">Upload Image</button>
    <input [(ngModel)]="imageName"/>

    <app-sketchpad #sketchpad>
    </app-sketchpad>
    <app-sketchpad-controls (lineColorUpdated)="sketchpad.SetLineColor($event)" (lineSizeUpdated)="sketchpad.SetLineSize($event)" (unDo)="sketchpad.UnDo()" (clear)="sketchpad.Clear()">
    </app-sketchpad-controls>
    <app-sketchpad-brush-preview [color]='sketchpad.lineColor'>
    </app-sketchpad-brush-preview>
    <a>Test</a>
</div>
