@import '../../../app.component';
#comments {
    border: solid $primary-color;
    border-radius: 5px;
    background: white;
    padding: 10px;
    height: 100%;
}

.single-comment {
    background: $background-color;
    margin-bottom: 10px;
}

.comment-time {
    color: gray;
    font-size: 10px;
}

#comment-textarea {
    width: 100%;
    height: 20%;
}

#all-comments {
    overflow: scroll;
    overflow-x: hidden;
    height: 40%;
}