<div class="columns">
    <div id="about-content" class="column">
        <h1>Impressum</h1>
        Diese Seite wurde von Fabio Zuber und Jonas Wyss erstellt. Es wird keine Haftung für von Benutzer erstellte Zeichnungen und Beiträge übernommen.
    </div>
    <div class="column">
        <div id="add">
            <a href="https://de.burger-king.ch/submenu/karriere/stellenangebote">      
        Dies ist eine Werbung.
        <div id="add-gif">

        </div>
    </a>
        </div>
    </div>
</div>