#add {
    background: red;
    height: 800px;
    border: black solid 2px;
    width: 320px;
}

#add-gif {
    width: auto;
    height: 600px;
    z-index: 10;
    background-repeat: no-repeat;
    background-position-y: 20px;
    background-position-x: -130px;
    background-image: url(https://firebasestorage.googleapis.com/v0/b/pythagorasvo21.appspot.com/o/output.gif?alt=media&token=e6727937-9131-47ac-93f9-a46819b12f6a);
}

.title{
    font-weight: 600;
}