<div class="columns">
    <div id="about-content" class="column">
        <h1 class="title">Impressum</h1>
        <p>Diese Seite wurde von Fabio Zuber und Jonas Wyss erstellt. Es wird keine Haftung für von Benutzer erstellte Zeichnungen und Beiträge übernommen.</p>
        <a href="https://github.com/jonas99y/pythagorasvo21">Das Projekt auf GitHub</a>
    </div>
    <div class="column">
        <div id="add">
            <a href="https://de.burger-king.ch/submenu/karriere/stellenangebote">      
        Hier könnte Ihre Werbung stehen!
        <div id="add-gif">

        </div>
    </a>
        </div>
    </div>
</div>