<h1>Das ist ein Impressum oder so </h1>
Diese Seite wurde von Fabio Zuber und Jonas Wyss erstellt. Es wird keine Haftung für von Benutzer erstellte Zeichnungen und Beiträge übernommen.

<h1>Einige lässige Bilder </h1>
<div class="columns">
    <div class="column is-6">
        <!--<img src="https://firebasestorage.googleapis.com/v0/b/pythagorasvo21.appspot.com/o/pythagorasImages%2Fv2.png?alt=media&token=68958dd0-96c8-4e17-a6c5-4e94f85cfdcd" />-->
    </div>


</div>
<div id="add">
    <a href="http.//burgerking.ch">      
        Dies ist eine Werbung.
        <div id="add-gif">

        </div>
    </a>
</div>

<!--<video autoplay="true" controls="none" src="https://firebasestorage.googleapis.com/v0/b/pythagorasvo21.appspot.com/o/IMG-20160930-WA0004.avi?alt=media&token=7bb1469a-9531-4c6c-9980-a1b11ddc4f70">-->
<!--</video>-->