.login-button {
  .icon {
    color: black;
  }
}

#facebook {
  background-color: #3B5998;
  color: white;
  .icon {
    color: white;
  }
}

#github {
  background-color: #24292e;
  color: white;
  .icon{
    color: white;
  }
}

#google {
  .icon{
    color: #4885ed;
  }
  img{
    height: 1.2em;
    width: auto;
  }
  .image{
    padding-top: 0.33em;
  }
}

#register-link{
  color: hsl(0, 0%, 29%);
}

.divider-line {
  display: flex;
  flex-basis: 100%;
  align-items: center;
  color: rgba(0, 0, 0, 0.35);
  margin: 20px 0;
}
.divider-line::before,
.divider-line::after {
  content: "";
  flex-grow: 1;
  background: rgba(0, 0, 0, 0.35);
  height: 1px;
  font-size: 0;
  line-height: 0;
  margin: 0 8px;
}

@media (max-width: 1000px) {
  .container {
    margin-right: 20px;
    margin-left: 20px;
  }
}


