<div class="container">
  <h1 class="title">Login</h1>
  <div *ngIf="error" class="message is-danger">
    <div class="message-body">
      {{ error }}
    </div>
  </div>
  <form #formData='ngForm' (ngSubmit)="loginEMail(formData)" >
    <div class="field">
      <label class="label" for="email">E-Mail</label>
      <p class="control has-icons-left has-icons-right">
        <input type="text" placeholder="rainer.zufall@mail.com" (ngModel)="email" name="email" class="input" required>
        <span class="icon is-small is-left">
         <i class="fa fa-user"></i>
        </span>
      </p>
    </div>

    <div class="field">
      <label class="label" for="password">Passwort</label>
      <p class="control has-icons-left has-icons-right">
        <input type="password" placeholder="Passwort" (ngModel)="password" name="password" class="input" required>
        <span class="icon is-small is-left">
         <i class="fa fa-unlock-alt"></i>
        </span>
      </p>
    </div>
    <div class="field">
      <p class="control">
        <button type="submit" [disabled]="!formData.valid" class="button is-primary is-fullwidth">Log in</button>
      </p>
    </div>
    <a [routerLink]="['/register-email']" id="register-link">Nonig im Yo-Yo Club Wila? <strong>Jetz registriere!</strong></a>
  </form>
  <div class="divider-line has-text-centered">
    <span>ODER</span>
  </div>

  <div class="columns is-centered">
    <div class="column is-3">
      <a class="button is-large login-button is-fullwidth" (click)="loginGoogle()" id="google">
        <span class="icon is-medium">
          <i class="fa fa-google" aria-hidden="true"></i>
        </span>
        <span class="image"><img src="../../../assets/images/google_logo.svg"> </span>
      </a>
    </div>
    <div class="column is-3">
      <a class="button is-large login-button is-fullwidth" (click)="loginFaceBook()" id="facebook">
        <span class="icon is-medium">
          <i class="fa fa-facebook" aria-hidden="true"></i>
        </span>
        <span>Facebook</span>
      </a>
    </div>
    <div class="column is-3">
      <a class="button is-large login-button is-fullwidth" (click)="loginGitHub()" id="github">
        <span class="icon is-medium">
          <i class="fa fa-github" aria-hidden="true"></i>
        </span>
        <span>GitHub</span>
      </a>
    </div>
    

  </div>
  <br/>
  <div class="divider-line has-text-centered">
    <span>ODER</span>
  </div>
  <a [routerLink]="['/login-phone']">Mit telephon </a>
</div>
