#facebook {
  background:#4B7598 url('../../../assets/images/facebook.svg') no-repeat 14px 6px;
  background-size: 47px;
  color:#fff;
}

#github {
  background: #24292e url('../../../assets/images/github.svg') no-repeat 15px;
  background-size: 45px;
  color:rgba(255,255,255,0.75);
}

#google {
  border: 1px solid #95989A;
  background: #fff  url('../../../assets/images/google.svg') no-repeat 25px;
  background-size: 25px;
}

.divider-line {
  display: flex;
  flex-basis: 100%;
  align-items: center;
  color: rgba(0, 0, 0, 0.35);
  margin: 8px 0px;
}
.divider-line::before,
.divider-line::after {
  content: "";
  flex-grow: 1;
  background: rgba(0, 0, 0, 0.35);
  height: 1px;
  font-size: 0;
  line-height: 0;
  margin: 0 8px;
}


