#brush-preview {
    height: 100px;
    width: 100px;
}

$divSize: 100px;
#preview-div {
    background: grey;
    border: {
        radius: 50px;
        opacity: 0.5;
        width: 10px;
    }
    position: fixed;
    top: calc(50vh - ( #{$divSize} / 2));
    // bottom: calc(50vh - ( #{$divSize} / 2));
    height: $divSize;
    width: $divSize;
    z-index: 100;
    text-align: center;
    left: calc(50vw - ( #{$divSize} / 2));
}