<h1 class="title">Theme Liste</h1>
<div class="tile is-ancestor">
  <!--TODO make tiles generation dynamic-->
  <div class="tile is-parent ">
    <article class="tile is-child is-3 box">
      <p class="title"><a [routerLink]="['/gallery/topic/1']" >Pythagoras vo 21</a></p>
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin ornare magna eros, eu pellentesque tortor
        vestibulum ut. Maecenas non massa sem. Etiam finibus odio quis feugiat facilisis</p>
    </article>

    <div class="tile  is-1"></div>
    <article class="tile is-child is-3 box" >
      <p class="title"><a [routerLink]="['/gallery/topic/1']" >Pythagoras vo 21</a></p>
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin ornare magna eros, eu pellentesque tortor
        vestibulum ut. Maecenas non massa sem. Etiam finibus odio quis feugiat facilisis</p>
    </article>
    <div class="tile  is-1"></div>
    <article class="tile is-child is-3 box" >
      <p class="title"><a [routerLink]="['/gallery/topic/1']" >Pythagoras vo 21</a></p>
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin ornare magna eros, eu pellentesque tortor
        vestibulum ut. Maecenas non massa sem. Etiam finibus odio quis feugiat facilisis</p>
    </article>
  </div>
</div>
<p>Thema vorschlah</p>
