<h1 class="title">Pythagoras vo 21</h1>
<div class="columns">
  <div class="column is-one-third"><img class="image" height="" src="https://firebasestorage.googleapis.com/v0/b/pythagorasvo21.appspot.com/o/images%2F21?alt=media&token=d1f81a97-2be0-4a31-88f1-4c742744591d" width=""></div>
  <div class="column is-one-third"><img class="image" height="" src="https://firebasestorage.googleapis.com/v0/b/pythagorasvo21.appspot.com/o/images%2F22?alt=media&token=f9156820-9d83-4cc0-a0a5-7445478835ec" width=""></div>
</div>





