<header>
  <div id="top-nav">
    <div id="top-left" (click)="goBack()" >
      <i class="fa fa fa-chevron-left icon" aria-hidden="true "></i>
    </div>
    <div id="top-title">
      <h1 class="icon">Pythagorasvo21</h1>
    </div>
    <div id="top-right">
      <i class="fa fa-cog icon" aria-hidden="true "></i>
    </div>
  </div>
</header>
<main class="container">
    <router-outlet></router-outlet>
</main>
<nav class="columns is-mobile " id="bottom-nav">
    <div class="colmn is-1 spacer-div"></div>
    <div class="column is-10 hasShadow" id="bottom-nav-inner">
        <div class=" columns is-mobile " id="bottom-nav-columns ">
            <div class="bottom-nav-column-div column has-text-centered " [routerLinkActive]="['active']">
                <a [routerLink]="['/drawing']" class="fill-div">
                    <i class="fa fa-pencil nav-Menu-Item" aria-hidden="true "></i>
                </a>
            </div>
            <div class="bottom-nav-column-div column column has-text-centered" [routerLinkActive]="['active']">
                <a [routerLink]="['/gallery']" class="fill-div">
                    <i class="fa fa-picture-o nav-Menu-Item" aria-hidden="true "></i>
                </a>
            </div>
            <div class="bottom-nav-column-div column column has-text-centered " [routerLinkActive]="['active']">
                <a [routerLink]="['/profile']" class="fill-div">
                    <i class="fa fa-user nav-Menu-Item" aria-hidden="true "></i>
                </a>
            </div>
        </div>
    </div>
    <div class="column is-1 spacer-div"></div>
</nav>
