$size:50px;
.sketchpadControl {
    height: $size;
    width: $size;
    border-radius: 50%;
    background: white;
    margin: {
        left: 5%;
        right: 5%;
    }
}

.sketchpadControl div {
    text-align: center;
}

.sketchpadControl div i {
    vertical-align: middle;
    line-height: $size;
}

#controls-wrapper {
    display: flex;
    width: 100%;
}

$primary:#0068AB;
$secundary:blue;

input[type="range"]{
  -webkit-appearance:none;
  width:160px;
  height:20px;
  margin:10px 50px;
  background: linear-gradient(to right, $primary 0%, $primary 100%);
  background-size:150px 10px;
  background-position:center;
  background-repeat:no-repeat;
  overflow:hidden;
  outline: none;
}

input[type="range"]:first-of-type{
  margin-top:30px;
}

input[type="range"]::-webkit-slider-thumb{
  -webkit-appearance:none;
  width:20px;
  height:20px;
  background:$secundary;
  position:relative;
  z-index:3;
  box-shadow:0 0 5px 0 rgba(0,0,0,0.3);
}

input[type="range"]::-webkit-slider-thumb:after{
  content:" ";
  width:160px;
  height:10px;
  position:absolute;
  z-index:1;
  right:20px;
  top:5px;
  background: #ff5b32;
  background: linear-gradient(to right, #f088fc 1%, #AC6CFF 70%);
}