
    <!--<input [(ngModel)]="lineColor" />
    <input [(ngModel)]="lineSize" />-->

    <div class="columns is-multilie">
        <div *ngFor="let color of colors" class="column is-1 sketchpadControl " [style.background-color]="color" (click)="setColor(color)"></div>
        <div class="sketchpadControl column is-1" (click)="increasePenSize()">+</div>
        <div class="sketchpadControl column is-1" (click)="decreasePenSize()">-</div>
        <div (click)="unDoClicked()" class="sketchpadControl column is-1">UnDo</div>
        <div (click)="clearClicked()" class="sketchpadControl column is-1">🗑</div>
    </div>
   
