<div id="controls-wrapper">

    <div class="sketchpadControl hasShadow" (click)="increasePenSize()">
        <div> <i class="fa fa-plus" aria-hidden="true"></i></div>

    </div>
    <div class="sketchpadControl hasShadow" (click)="decreasePenSize()">
        <div><i class="fa fa-minus" aria-hidden="true"></i></div>

    </div>
    <div (click)="unDoClicked()" class="sketchpadControl hasShadow">
        <div><i class="fa fa-undo" aria-hidden="true"></i></div>
    </div>
    <div (click)="clearClicked()" class="sketchpadControl hasShadow">
        <div> <i class="fa fa-trash" aria-hidden="true"></i></div>
    </div>
</div>