#image-viewer {
    height: 50%;
}

#commentsAndRating {
    height: 80%;
}

#rating-app {
    height: 30%;
}

#comments-app {
    height: 30%;
}

#single-image-div {
    height: 80%;
    width: 100%;
}