/* You can add global styles to this file, and also import other style files */
// 1. Import the initial variables
@import '../node_modules/bulma/sass/utilities/initial-variables';

// 2. Set your own initial variables
$bottomNavHeigth:50px;
$topNavHeight:30px;
$background: #F2F2F2;

// Update blue
$blue: #72d0eb;
// Add pink
$pink: #111111;
// Add a serif family
$family-serif: 'Roboto', sans-serif;

// 3. Set the derived variables
// Use the new pink as the primary color
$primary: #0068AB;
// Use the existing orange as the danger color
$danger: $orange;
// Use the new serif family
$family-primary: $family-serif;
// 4. Import the rest of Bulma
@import "../node_modules/bulma/bulma";

#content {
  background: $primary;
  height: 100%;
}

#inner-content {
  top: $topNavHeight;
  bottom: $bottomNavHeigth;
  background: $background;
  margin: 10px;
}

#menu-demo {
  color: white;
}

.nav-Menu-Item {
  color: $primary;
}

.spacer-div {
  width: 100%;
}


/*general*/

.icon {
  color: white;
}


/*bottom nav*/

#bottom-nav-columns {
  height: 100%;
}

.bottom-nav-column-div:not(:last-of-type) {
  border-right: 1px rgba(132,125,224,0.27) solid;
}


#bottom-nav {
  position: fixed;
  bottom: 0px;
  height: $bottomNavHeigth;
  width: 100vw;
  margin: {
    bottom: 15px;
  }
  .active {
    background: $background;
    border-bottom:5px $primary solid ;
  }
}

#bottom-nav-inner {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  text-align: center;
  background: white;
}


/*top nav*/

#top-nav {
  background: $primary;
  position: fixed;
  top: 0px;
  left: 0px;
  width: 100%;
  height: auto;
  z-index: 100;
  text-align: center;
  display: flex;
  padding: 10px;
}

#top-title {
  width: 60%;
}

#top-left {
  width: 20%;
  text-align: left;
}

#bottom-nav-columns {

}

.bottom-nav-column-div {
  background: white;
}
#top-right {
  width: 20%;
  text-align: right;
}
.fill-div{
  display: block;
  height: 100%;
  width: 100%;
  text-decoration: none;
}
