<h1>{{(user|async)?.firstname}}</h1>
<br>
<br>
<br>
<app-request-topic [user]="user" [requester]="currentUser">
</app-request-topic>
<!--<app-add-post [user]="user">
</app-add-post>-->
<app-gallery-viewer class="columns is-multiline is-mobile" [images]="images" [imageClasses]="'column is-one-third-mobile is-one-quarter-desktop is-one-third-tablet'">

</app-gallery-viewer>

<!--<div class="columns is-multiline">
    <div *ngFor="let image of images|async">
        <app-image-viewer [Image]="image" class="column profile-images"></app-image-viewer>
        <a id="show-more" [routerLink]="['/image',image.$ref.key]">mehr anzeigen...</a>
    </div>
</div>-->