<div id="wrapper">
    <h1 class="title">Hier erfahren Sie wie diese Seite entstanden ist</h1>
<p>
    Jonas ist seit einigen Jahren als Leiter im Konfirmationsprojekt im Ägerital tätig. In der diesjährigen Lagerwoche wurde der Begriff “Pythagoras vo 21” geschaffen , indem jemand in einem Improvisationstheater eine Mathematikprofessorin spielte und mit
    Fachbegriffen um sich warf. Da die Anwendung des Pythagoras allen Zuschauern geläufig war und diese sogleich merkten, dass es so etwas wie den Pythagoras von 21 nicht gibt, wurde diese Aussage zu einer Lachnummer. Der Begriff wurde danach in weiteren
    Szenen imitiert und entwickelte sich so zum Running-Gag des Konfprojekts. Da Jonas schon im letzten Jahr einige lustige Webseiten, welche Bezug auf Witze des Konfprojektes hatten, erstellte, sicherte er sich nach dem Lager die Domain “pythagorasvo21.info”.
    (“.info”, da diese nur 1 Franken kosten). Da er jedoch noch keine Idee hatte, was er mit seiner kürzlich erworbenen Domain anstellen sollte, beriet er sich bei einigen Gläsern Bier mit seinem Leiterkollegen Fabio,welcher auch Softwareentwickler ist.
    Im Gespräch kamen sie darauf, eine Webseite zu erstellen, auf welcher die Benutzer Strichzeichnungen zu vorgegebenen Begriffen erstellen und teilen können. Nach dem Motto “Zeichne den Pythagoras von 21!”. Erste Zeichnungen sind am Ende des Storyboards
    zu finden.
</p>
<br>
<h1 class="title">Hier ein Bild aus dem Konflager</h1>
<app-before-after-slider
[Img2URL]="'https://firebasestorage.googleapis.com/v0/b/pythagorasvo21.appspot.com/o/Wila%202017%20160.JPG?alt=media&token=fb1ce3e2-2610-4f19-a141-0544d161bf7c'" 
[Img1URL]="'https://firebasestorage.googleapis.com/v0/b/pythagorasvo21.appspot.com/o/v2_comp.jpg?alt=media&token=10e79df2-9f91-4e70-bbf6-13d9b4d07098'"
[ImgHeight]="666" [ImgWidth]="1000"
>
</app-before-after-slider>
<br>

<p> Nutzen Sie den Slider um eine interessante Veränderung des Bildes festzustellen </p>
</div>