<div class="columns" id="wrapper">
    <button class="button column" (click)="signOut()">Abmelde</button>
    <button [routerLink]="['/about']" class="button column is-offset-1">Impressum</button>
    <button [routerLink]="['/history-of-pythagoras']" class="button column is-offset-1">Entstehung der Webseite</button>
</div>
<div class="">
    <h1 class="title">Es kann auch problemlos auf dem Smartphone gezeichnet werden. Probieren Sie es doch mal aus!</h1>
    <img class="img" src="https://firebasestorage.googleapis.com/v0/b/pythagorasvo21.appspot.com/o/IMG_20170630_105512-compressor.jpg?alt=media&token=2e0d2a3d-c606-46ef-b023-55d40a6ae3ee"
    />
    <h1 class="title">Sie können auch den Touchscreen ihres Laptops nutzen, um auf der Seite zu zeichnen! </h1>
    <img class="img" src="https://firebasestorage.googleapis.com/v0/b/pythagorasvo21.appspot.com/o/IMG_20170630_105304-compressor.jpg?alt=media&token=b9e59c78-e558-48c2-a7a7-ef9f7d8fd19c"
    />
    <h1 class="title">So wurde die Seite entwickelt</h1>
    <img class=" is-12 img" src="https://firebasestorage.googleapis.com/v0/b/pythagorasvo21.appspot.com/o/IMG_20170630_105221-compressor.jpg?alt=media&token=7b5ac0c6-42a2-4ea8-a778-05599ed45ad2"
    />

</div>