@import '../app.component';
#comments {
    border: solid $primary-color;
    border-radius: 5px;
    background: white;
    padding: 10px;
}

.single-comment {
    background: $background-color;
    margin-bottom: 10px;
}

.comment-time {
    color: gray;
    font-size: 10px;
}